@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 540px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 276px;
    width: 92%;
  }
}

.button {
  background-color: #ffd200;
  padding: 18px 29px;
  border: none;
  border-radius: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 30px;
  max-width: 600px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 20px;
}

.input {
  border: solid 1px #dddddd;
  padding: 23px 25px;
  font-size: 15px;
  border-radius: 10px;
  color: #999999;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .section-title {
    font-size: 18px;
  }
  .section-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 38px 0 60px 0;
  }
}

/** импорт стирей navbar **/
.navbar {
  padding: 6px 0 4px 0;
  overflow: hidden;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
  margin-top: 6px;
}

.navbar__button {
  margin-left: 31px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.logo {
  margin-top: 2px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 567px) {
  .navbar__button {
    margin-top: -5px;
    border-radius: 4px;
    font-size: 10px;
    padding: 14px 25px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding-top: 11px;
    padding-bottom: 14px;
  }
}

/** стили для главного экрана **/
.hero {
  background: #f5f5f5;
  padding-top: 47px;
  padding-bottom: 1px;
  overflow: hidden;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 54%;
      flex-basis: 54%;
}

.hero-text__title {
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.34;
  letter-spacing: -0.2px;
  margin-top: 32px;
  margin-bottom: 39px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.hero-list__item:nth-child(2) {
  margin-bottom: 24px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: solid 2px #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 275px;
  letter-spacing: -0.55px;
  font-size: 15px;
  line-height: 23px;
}

.hero-list__text span {
  display: block;
}

.hero-image img {
  max-width: 108%;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 90%;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 567px) {
  .hero-list__text {
    max-width: 79%;
  }
}

@media (max-width: 320px) {
  .hero {
    margin: 0 3px;
    padding: 5px 0 27px 0;
  }
  .hero-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-text__title {
    margin-bottom: 7px;
    margin-top: 36px;
    line-height: 1.21;
    letter-spacing: 0px;
    margin-left: 2px;
  }
  .hero-text__subtitle {
    margin-left: 5px;
    margin-bottom: 29px;
    line-height: 1.19;
  }
  .hero-list {
    margin-bottom: 36px;
    padding-left: 2px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    line-height: normal;
    letter-spacing: 0px;
  }
  .hero-image img {
    max-width: 106%;
    margin-left: -2px;
  }
}

/** стили для блока offer **/
.offer {
  padding-top: 57px;
  padding-bottom: 88px;
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: 50%;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 350px;
  line-height: 1.49;
  margin-bottom: 19px;
}

.offer-subtitle {
  display: block;
  font-size: 16px;
  max-width: 240px;
  margin-bottom: 31px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  font-size: 16px;
  min-height: 70px;
  margin-bottom: 26px;
}

.offer-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-manager__text {
  font-size: 15px;
  line-height: 1.6;
}

.offer-manager__text:first-child {
  width: 230px;
}

.offer-manager__text:last-child {
  width: 200px;
}

.offer-manager__tel {
  display: block;
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1919px) {
  .offer {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 5%;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .offer {
    padding-top: 35px;
    padding-bottom: 53px;
  }
  .offer-title {
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: -0.4px;
    margin-bottom: 17px;
  }
  .offer-subtitle {
    letter-spacing: -1px;
    margin-bottom: 24px;
  }
  .offer__input {
    padding-left: 22px;
  }
  .offer__button {
    padding: 0 20px;
    line-height: 1.3;
    margin-bottom: 21px;
  }
  .offer__button span {
    display: block;
  }
  .offer-manager {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-manager__text {
    margin-left: 7px;
  }
  .offer-manager__text:first-child {
    padding-bottom: 6px;
  }
}

/** стили для блока portfolio **/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  line-height: 1.5;
  margin-bottom: 93px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider_item {
  margin-right: 15px;
  margin-left: 15px;
}

.slider__image {
  margin: auto;
}

@media (max-width: 567px) {
  .portfolio {
    background: #f5f5f5;
  }
}

@media (max-width: 320px) {
  .portfolio__title {
    max-width: 260px;
    margin-bottom: 40px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: normal;
  }
  .portfolio__arrows {
    margin-top: 45px;
  }
}

/** стили для блока price **/
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
  max-width: 370px;
  width: 32%;
}

.card {
  text-align: center;
  border: solid 1px #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0px 20px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__images::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  display: block;
  width: 100%;
}

.card__images {
  position: relative;
}

.card__images::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  line-height: 1.13;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

.card__link:hover::after {
  height: 13px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .price__card {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .price__card {
    width: 49%;
  }
  .card__text {
    padding: 28px;
  }
  .card__title {
    font-size: 16px;
  }
}

@media (max-width: 554px) {
  .section__price {
    padding-bottom: 0;
  }
  .price {
    margin-bottom: 0;
  }
  .price__title {
    margin-bottom: 27px;
  }
  .price__card {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  .card__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card__title {
    font-size: 14px;
  }
}

/** стили для блока modal **/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 1170px;
  width: 90%;
  min-width: 200px;
  height: 674px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
